@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

.app{
  max-width: 60em;
  margin:1em auto;
  /* background-color: rgb(0, 0, 0); */
}
.news{
  display: block;
  /* flex-wrap:wrap; */
}
.card{
  border:1px rgb(0, 79, 236) solid;
  margin-top:0.5em;
  flex: 1 0 15em;
}
.news-name{
  color: rgb(255, 0, 0);
  font-size: 2em;
}

.news-type{
  background-color: rgb(0, 111, 175);
  padding:0.5em;
  margin-right:0.5em;
  color:white;
}

.news-filters{
  margin-top: 1em;
  text-align: center;
}

.news-filter,.news-filter:hover{
  background-color: white;
  color:rgb(51, 255, 0);
  font-weight: bold;
  border:thin rgb(51, 255, 0) solid !important;
}

.news-filter.active{
  background-color: rgb(51, 255, 0) !important;
  color:white;
  font-weight: bold;
}

.news-popup-body img{
  display: block;
  width: 100%;
}